.title {
    width: 70%;
    overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
    white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
    text-overflow: ellipsis; /* to do what you want. */
}

h6 {
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
}

.jumbotron {
    background-color: transparent !important;
}

.btn-primary {
    margin:0 auto;
    display:block;
}

.min-vh-100 {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

nav {
    padding: 1.5em 1em 1em 1em;
    margin-bottom: 1em;
}